workflow.json.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "readStatus": "=unread"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "e5492bfe-d12e-4236-82ce-50fc84011d4b",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "47RB7O5uf46PDU8D",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an email classifier.\n\nClassify the following email into ONE of these categories only:\n\n- Internship Opportunity\n- Job Opportunity\n- Promotional\n- Spam\n- Personal\n- Important\n\nReturn ONLY the category name. Do not explain.\n\nEmail:\n{{ $json.snippet }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "9d8af158-d8bc-4e25-bd0d-4476646eb61c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        176,
        160
      ],
      "id": "6c3d5e22-053a-438b-8dd3-69bbd906f51b",
      "name": "Google Gemini Chat Model",
      "alwaysOutputData": true,
      "executeOnce": true,
      "retryOnFail": true,
      "notesInFlow": true,
      "credentials": {
        "googlePalmApi": {
          "id": "LJISMTHqEtak5PHk",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c9cbc6d6-a45f-4541-a795-19a3d89c36da",
              "leftValue": "={{ $json.output }}",
              "rightValue": "Internship Opportunity",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        560,
        0
      ],
      "id": "de348de0-e83e-4d37-809c-a3d993196d58",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $node[\"Gmail Trigger\"].json[\"id\"] }}",
        "labelIds": [
          "Label_8012544753544848164"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        768,
        0
      ],
      "id": "66c4188c-cc72-4576-9614-1274ad6435f2",
      "name": "Add label to message",
      "webhookId": "ca595070-2968-4e89-94a9-4c7b52f2b6af",
      "credentials": {
        "gmailOAuth2": {
          "id": "47RB7O5uf46PDU8D",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "15XG4ZiHmrQARwm46ZeqP7Ub11rCmKKCZU_uGH90_eeo",
          "mode": "list",
          "cachedResultName": "AI Internship Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15XG4ZiHmrQARwm46ZeqP7Ub11rCmKKCZU_uGH90_eeo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15XG4ZiHmrQARwm46ZeqP7Ub11rCmKKCZU_uGH90_eeo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ new Date().toISOString() }}",
            "Subject": "={{$json[\"payload\"][\"headers\"].find(h => h.name === \"Subject\").value}}",
            "From": "={{$json[\"payload\"][\"headers\"].find(h => h.name === \"From\").value}}",
            "Snippet": "={{$json[\"snippet\"]}}",
            "Category": "={{$json[\"output\"]}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "From",
              "displayName": "From",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Snippet",
              "displayName": "Snippet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        976,
        0
      ],
      "id": "bf1bbe17-d4bd-4f57-a4a7-9e1fd066bf66",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4kIUSm1BRiddEavR",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ff70bc87-fdf4-4c23-92b8-001bbe323447",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8c56555a0ea546d55fa4385387a1f3c0f0fa95b5ff8491acf675cc2494888d1d"
  },
  "id": "KW9myNNfqqnRQtYr",
  "tags": []
}